.empty {
  background-image: url(https://img.icons8.com/windows/32/000000/star--v2.png);
  height: 32px;
  width: 32px;
}

.filled {
    background-image: url(https://img.icons8.com/ios-filled/32/bf7202/star--v1.png);
    height: 32px;
    width: 32px;
}

.show {
    display: inline-block;
}